<%- include head %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col s4">
        <div id="user_email"></div>
        <div id="blc_token"></div>
        <div id="user_type"></div>
      </div>
      <div class="col s4">
        <div id="msg"></div>
        <button id="create-contract" class="btn right">Create Contract</button>
      </div>
      <div class="col s4">

      </div>
    </div>
  </div>
    <script src="javascript/user.js"></script>
</body>
</html>
