<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head %>
    </head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col s3"></div>
      <div class="col s6">
          <div class="card-panel">
        <h4>SignIn </h4></br>
        <div class="row">
          <div class="input-field col s12">
            <select id="user-type" name="user-type" >
              <option>Author</option>
              <option>Publisher</option>
              <option>User</option>
            </select>
            <label class="active" for="user-type">Account Type</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="user-name" type="text" class="validate">
                <label class="active" for="user-name">Full Name</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  id="user-email" type="text" class="validate">
            <label class="active" for="user-email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="user-password" type="password" class="validate">
            <label class="active" for="user-password">Password</label>
          </div>
        </div>
        
                
        <div class="row">
          <div class="input-field col s10">
            <button id="submit-signin" class="btn right">SignIn</button>
          </div>
          <div class="input-field col s2">
            <button id="submit-signup" class="btn right">SignUp</button>
          </div>
        </div>
        </div>
      </div>
      
      <div class="col s3"></div>
     

    </div>
  </div>
    <script src="js/signup.js"></script>

    </body>
</html>